/*------------reset css start---------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

:focus { outline: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/*------------page css---------------*/
html,body{width:100%;background-image: url(../images/love_bg.jpg);background-repeat: repeat;}
body{
	background-color: #f3e7de;
}

._table{ 
	display: table;
}
._tr{
	display: table-row;
}
._td{ 
	display: table-cell;
}
._tableCaption{ 
	display: table-caption;
}
._group{
	display: table-row-group;
}

.fontSize10{ 
	font-size: 12px;
	transform:translate(-25px,0px) scale(0.83);
	-webkit-transform:translate(-25px,0px) scale(0.83);
	width: 120%;
}

.frame { 
    width:100%;
	font-size: 14px;
    position:relative;
    overflow:hidden;
}

.frame h1{font-size: 24px;text-align: center;line-height: 80px;color: #e85793;}
.frame .querySection{width: 90%;padding: 0 5%;}
.frame .querySection ._tr{height: 40px;line-height: 40px;}
.frame .querySection ._td:nth-child(2n){width: 60%;}
.frame .querySection ._td:nth-child(2n+1){font-size: 16px;}
.frame .querySection input,.frame .querySection select{
	width: 100%;
	height: 30px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 0;
}
.frame .querySection select{ 
	overflow: hidden;
	background-color: #fff;
	color: #556a78;
	text-align: center;
	outline: 0;
	position: relative;
}
.frame h2{ 
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-indent: 5%;
}

.frame .result{ 
	margin-top: 20px;
	border-top: 1px solid #9A6;
	display: none;
}

.frame .result .item.show{
	display: block;
}

.frame .result .item{ 
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	background-color: rgb(228, 237, 243);
	/*
	transition:max-height ease 0.5s;
	-webkit-transition:max-height ease 0.5s;
	max-height: 0;
	*/
	display: none;
}

.frame .result .item.active{
	/*max-height: 300px;*/
	display: table;
}

.frame .result .item_title{ 
	padding:0 5%;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	background-color: rgb(207, 226, 243);
	position: relative;
}
.frame .result .item_title:after{ 
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	border-top:2px solid currentColor;
	border-left:2px solid currentColor;
	transform:rotate(45deg);
	-webkit-transform:rotate(47deg) skewX(5deg);
	position: absolute;
	top: 15px;
	right: 20px;
	transition:all ease 0.5s;
	-webkit-transition:all ease 0.5s;
}
.frame .result .item_title.active:after{
	transform:rotate(-133deg);
	-webkit-transform:rotate(-133deg) skewX(5deg);
	top: 9px;
} 
.frame .result .item .view{ 
	vertical-align: top;
	padding: 5px 10px;
}

.frame .result .item .view ._table{width: 100%;}
.frame .result .item .view ._td:first-child{
	width: 70px; 
}
.frame .result .item .view ._td:only-child{

}

.frame .result .item .view .tip{}
.frame .result .item .view .viewCardBtn{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #ff00ff;
	margin: 10px 0;
}
.frame .result .item .thumb{ 
	width: 30%;
	padding-left: 2px;
}
.frame .result .item .thumb figure{ 
	/*position: relative;*/
	padding-top: 10px;
}
.frame .result .item .thumb figure img{ 
	max-width: 100%;
	max-height: 100%;
	/*
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50%;
	margin-left: -50%;
	*/
}