<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <title>LiuZhiJun Editor</title>
    <link href="article/38?type=css&min=false" rel="stylesheet" />
	<!-- AjaxUtile.js -->
	<script src="article/22?type=js&min=false"></script>
	<!-- template.js -->
	<script src="article/35?type=js&min=false"></script>
	<!-- HTMLElement.js-->
	<script src="article/36?type=js&min=true"></script>

	<!--dialog-->
    <link href="styles/dialog.css" rel="stylesheet" />
	<script src="scripts/dialog.js"></script>

	<!--layout-->
    <link href="styles/list.css" rel="stylesheet" />
    <link href="styles/menu.css" rel="stylesheet" />
</head>
<body>
	<header>
		<a href="javascript:void(0)" id="createBtn" >新建作品</a>
	</header>
	<article>
		<div class="group">
			<div id="articleList" class="articleList"></div>
		<div>
		<nav class="page-nav"></nav>
	</article>
	<footer></footer>
	<div id="dialog" class="dialog">
		<label class="close closeBtn" title="关闭">+</label>
		<div class="container"></div>
	</div>
	<div id='mask' class="mask"></div>
	<script type="text/template" id="articleTemplate">
		<%data.forEach(function(item,index){%>
			<section>
				<div class="iframe-wrap">
					<a href="/pen/<%=item.pid%>" class="cover-link"></a>
					<iframe src="/pen/<%=item.pid%>?type=iframe" frameborder="0" scrolling="no"></iframe>
					<div class="meta-title">
						<h2><%=item.title%></h2>
						<p><%=item.desc%></p>
					</div>
					<div class="meta-menu">
						<input type="checkbox" class="hidden" id="clickMenu" />
						<label class="meta_menu_thumb" for="clickMenu"><div></div></label>
						<ul class="hidden">
							<li><a href="index.html?aid=<%=item.htmlId%>" target="_blank">编辑 Html</a></li>
							<li><a href="index.html?aid=<%=item.cssId%>" target="_blank">编辑 Css</a></li>
							<li><a href="index.html?aid=<%=item.jsId%>" target="_blank">编辑 Js</a></li>
							<li><a href="javascript:void(0)" onclick="penModify(<%=item.pid%>,this)">修改作品</a></li>
							<li><a href="javascript:void(0)" onclick="penDrop(<%=item.pid%>,this)">删除作品</a></li>
						</ul>
					</div>
				</div>
				<div class="meta">
					<div class="user"><%=localStorage.userName%></div>
					<div class="lastupdate"><%=item.udate%></div>
				</div>
				<input class="itemData" type="hidden" value="<%=escape(JSON.stringify(item))%>" />
			</section>
		<%});%>
	</script>
	<script type="text/template" id="createArticleTemplate">
		<div class="commonContent confirmContent saveAsContent">
			<form class="addArticleForm">
				<h3>添加作品</h3>
				<label>标题：</label> <input type="text" name="title" class="article_title" value="<%=data.title||''%>" /> <br/>
				<label>描述：</label> <input type="text" name="desc" class="article_desc" value="<%=data.desc||''%>"  /> <br/>
				<label>HTML ID：</label> <input type="text" name="htmlId" class="article_html" value="<%=data.htmlId||''%>"  /> <br/>
				<label>CSS ID：</label> <input type="text" name="cssId" class="article_css" value="<%=data.cssId||''%>"  /> <br/>
				<label>JS ID：</label> <input type="text" name="jsId" class="article_js" value="<%=data.jsId||''%>"  /> 
			</form>
			<div data-type="ok" class="commonbtn confirmbtn close"><%=data.ok%></div>
			<div data-type="cancel" class="commonbtn confirmbtn close"><%=data.cancel%></div>
		</div>
	</script>
	<script type="text/template" id="confirmTemplate">
		<div draggable="true" class="commonContent confirmContent">
			<p><%=data.message%></p>
			<div data-type="ok" class="commonbtn confirmbtn close"><%=data.ok%></div>
			<div data-type="concel" class="commonbtn confirmbtn close"><%=data.cancel%></div>
		</div>
	</script>
	<script src="scripts/list.js"></script>
</body>
</html>
