/*------------reset css start---------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

:focus { outline: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/*------------page css---------------*/
body{
	background: #B7C9E5;
}

.tree_menu{
	position:absolute;
	z-index:1;
}

.tree_menu ul{
	width:250px;
	color: #F4F4F4;
	font-family: 'Dosis', Helvetica, Arial, sans-serif;
	font-weight: 600;
}
.tree_menu ul>li{
	line-height:40px;
	background-color:#4DAF7C;
	position:relative;
	background: #141619;
	border-bottom: 1px solid rgba(252, 252, 252, 0.1);
	transition:all ease 0.5s;
	-webkit-transition:all ease 0.5s;
}
.tree_menu ul>li:hover{
	background-color:#419FE8;
	cursor:pointer;
}
.tree_menu li:hover>ul{
	transform:scaleX(1);
}
.tree_menu li>ul{
	position:absolute;
	right:-100%;
	top:0;
	transform:scaleX(0);
	-webkit-transition:all ease 0.5s;
	transform-origin:0px 0px;
}
.tree_menu li>a{
	display:block;
	text-decoration: none;
	margin:0 25px 0 10px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tree_menu li>a:visited{
	color:currentColor;
}
.tree_menu li>a:only-child:before,.tree_menu li>a:only-child:after{
	display:none;
}
.tree_menu li>a:before,.tree_menu li>a:after{
	content:'';
	position:absolute;
	display:block;
	float:right;
	background-color:#fff;
	text-align:center;
	-webkit-transition:all ease-in-out 500ms;
}
.tree_menu li>a:before{
	width:1px;
	height:15px;
	right:11px;
	top:10px;
}
.tree_menu li>a:after{
	width:15px;
	height:1px;
	right:4px;
	top:16.5px;
}
.tree_menu li:hover>a:before{
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}
.tree_menu li:hover>a:after{
	transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
}
