/*------------page css---------------*/
.tree_menu{
	display:inline-block;
	user-select:none;
	-webkit-user-select:none;
}

.tree_menu input[type=checkbox]{
	display:none;
}
.tree_menu .tree_menu_thumb{
	display:block;
	width:40px;
	height:40px;
	background: #141619;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:19px 10px;;
	border-radius:3px;
}
.tree_menu .tree_menu_thumb>div{
	position:relative;
}
.tree_menu .tree_menu_thumb>div,
.tree_menu .tree_menu_thumb>div:before,
.tree_menu .tree_menu_thumb>div:after{
	width:100%;
	height:100%;
	background: #fff;
	border-radius:5px;
}
.tree_menu .tree_menu_thumb>div:before,.tree_menu .tree_menu_thumb>div:after{
	content:'';
	display:block;
	position:absolute;
}
.tree_menu .tree_menu_thumb>div:before{
	margin-top:-5px;
}
.tree_menu .tree_menu_thumb>div:after{
	margin-top:5px;
}
.tree_menu>input[type=checkbox]:checked~.tree_menu_thumb{
	background:#ff0000;
}

.tree_menu ul{
	width:250px;
	color: #F4F4F4;
	font-family: 'Dosis', Helvetica, Arial, sans-serif;
	font-weight: 600;
}
.tree_menu:hover>ul,.tree_menu>input[type=checkbox]:checked~ul{
	transform:scaleX(1);
}
.tree_menu>ul{
	position:absolute;
	top:0;
	left:40px;
	transform:scaleX(0);
	-webkit-transition:all ease 0.5s;
	transform-origin:0px 0px;
}
.tree_menu ul>li{
	line-height:40px;
	position:relative;
	background: #141619;
	border-bottom: 1px solid rgba(252, 252, 252, 0.1);
	transition:all ease 0.5s;
	-webkit-transition:all ease 0.5s;
}
.tree_menu ul>li:first-child{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.tree_menu ul>li:last-child{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.tree_menu ul>li:hover{
	background-color:#419FE8;
	cursor:pointer;
}
.tree_menu li:hover>ul{
	transform:scaleX(1);
}
.tree_menu li>ul{
	position:absolute;
	right:-100%;
	top:0;
	transform:scaleX(0);
	-webkit-transition:all ease 0.5s;
	transform-origin:0px 0px;
}
.tree_menu li>a{
	display:block;
	text-decoration: none;
	margin:0 25px 0 10px;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#fff;
	font-weight:normal;
}
.tree_menu li>a:visited{
	color:currentColor;
}
.tree_menu li>a:only-child:before,.tree_menu li>a:only-child:after{
	display:none;
}
.tree_menu li>a:before,.tree_menu li>a:after{
	content:'';
	position:absolute;
	display:block;
	float:right;
	background-color:#fff;
	text-align:center;
	-webkit-transition:all ease-in-out 500ms;
}
.tree_menu li>a:before{
	width:1px;
	height:15px;
	right:11px;
	top:10px;
}
.tree_menu li>a:after{
	width:15px;
	height:1px;
	right:4px;
	top:16.5px;
}
.tree_menu li:hover>a:before{
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}
.tree_menu li:hover>a:after{
	transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
}
