.contextmenu{
	position:absolute;
	top:0;
	left:0;
	display:none;
	width:200px;
	z-index:9;
	box-shadow:0px 0px 10px 2px #555;
}
.contextmenu>ul{
	width:100%;
	color: #F4F4F4;
	font-weight: 600;
	list-style:none;
}

.contextmenu>ul>li{
	line-height:35px;
	position:relative;
	background: #141619;
	border-bottom: 1px solid rgba(252, 252, 252, 0.1);
	transition:all ease 0.5s;
	box-sizing:border-box;
}

.contextmenu>ul>li:hover{
	background:#338F37;
}

.contextmenu>ul>li:first-child{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.contextmenu>ul>li:last-child{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.contextmenu li>span{
	text-decoration: none;
	margin:0 25px 0 10px;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#fff;
	font-weight:normal;
	cursor:pointer;
	display:block;
}
.contextmenu li>span:after{
	content:attr(tip);
	width:70px;
	font-size:12px;
	margin-left:70px;
	opacity:0.5;
	position:absolute;
	top:0;
	right:0;
}

#code{display:none;}
