.addTableTip{font-size:30px;margin-top:10px;}
.tableBtn{
	padding:15px 30px;
	display:inline-block;
	text-align:center;
	background-color:rgba(51,133,255,.4);
	border-radius:5px;
	cursor:pointer;
	transition:all ease 0.5s;
}
.tableName{
	padding:3px 5px;
	width:150px;
	height:35px;
	line-height:35px;
	font-size:30px;
	background-color:#333;
	color:#fff;
	border:none;
}
.tableName:focus+span{ background-color:rgba(51,133,255,1); }
.menu {
  list-style: none; margin: 10px auto; padding: 0; width: 100%;
  height: 60px;position: relative;
  background-color: #2c3e50; z-index: 7;
}
.menu li { float: left; width: 25%; height: 100%; margin: 0; padding: 0;}
.menu label {
  display: flex; width: 100%; height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
	  -ms-flex-pack: center;
	  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
	  -ms-flex-align: center;
	  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  cursor:pointer; 
  z-index: 9;
}
/*.menu label.active { background-color: #e74c3c; pointer-events: none; }*/
.menu li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  -webkit-transition: left 0.4s, background-color 0.4s;
  transition: left 0.4s, background-color 0.4s;
}

.menu li:nth-child(1).active ~ .slider{
  left: 0;
  background-color: #3498db;
}
.menu li:nth-child(2).active ~ .slider{
  left: 25%;
  background-color: #9b59b6;
}
.menu li:nth-child(3).active ~ .slider{
  left: 50%;
  background-color: #e67e22;
}
.menu li:nth-child(4).active ~ .slider{
  left: 75%;
  background-color: #16a085;
}

.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider{
  left: 0;
  background-color: #3498db;
}
.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider{
  left: 25%;
  background-color: #9b59b6;
}
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider{
  left: 50%;
  background-color: #e67e22;
}
.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider{
  left: 75%;
  background-color: #16a085;
}

.tableList{ position:relative; }

.tableList input[name="tbRadio"]{
	display:none;
}
.tableList input[name="tbRadio"]+div{
	overflow:hidden;
	max-height:0;
	transform-origin:50% 0;
	transition:all ease 0.5s;
}
.tableList input[name="tbRadio"]:checked+div{
	transition-delay:0.5s;
	max-height:500px;
}
