.zjtable{
	font-size:14px;
	background: #34495E;
	color: #fff;
	border-radius: .4em;
	overflow: hidden;
	margin: 1em 0;
    min-width: 300px;
	cursor:default;
}

.zjtable th[type=shortString]{ width:40px; }
.zjtable th[type=string]{ width:70px; }
.zjtable th[type=color]{ width:70px; }
.zjtable th[type=int]{ width:70px; }
.zjtable th[type=shortInt]{ width:40px; }
.zjtable th[type=date]{ width:120px; }
.zjtable th[type=datetime]{ width:150px; }
.zjtable th[type=image]{ width:150px; }
.zjtable th[type=list]{ width:120px; }
.zjtable th[type=index]{width:40px;}

.zjtable tr { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; border-color: #46637f; }

.zjtable th,.zjtable td:before { color: #dd5; }
.zjtable th,.zjtable td{ 
	padding:2px 0;
	border-right:1px solid #46637f; 
	text-align: center; 
	display: table-cell; 
	overflow:hidden;
	box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	word-wrap:break-word;
}

.zjtable th { vertical-align: middle; padding:1em 0; }
.zjtable tbody{ counter-reset: item; }
.zjtable tr>td:first-child{ vertical-align: middle; text-shadow:1px 1px 2px rgba(255,255,255,.2); }
.zjtable tr>td:first-child:before{ content:'#'; counter-increment: item; content: counter(item); }

.zjtable .zjtable_row_add,
.zjtable .zjtable_row_delete,
.zjtable .zjtable_row_update,
.zjtable .zjtable_row_up,
.zjtable .zjtable_row_down{ margin:0 5px; cursor:pointer; }


.zjtable td.zjtable_opr_data{ padding:1em 5px; width:100px; }
.zjtable td.zjtable_opr_move{ padding:1em 5px; width:80px; }

.zjtable tr.edit .zjtable_row_update,
.zjtable td.zjtable_opr_data i:hover, 
.zjtable td.zjtable_opr_move i:hover{ color:red; }

.zjtable tr.edit td input:not(.Wdate):focus{ color:#fff; font-size:30px; }
.zjtable tr.edit td input.Wdate{ color:#fff; cursor:pointer; }
.zjtable tr.edit td input,
.zjtable tr.edit td select{ 
	width:100%; 
	height:100%;
	background-color:transparent;
	border-width:0;
	padding:0; 
	margin:0; 
	color:#fff;
	text-align:center;
	box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
}
.zjtable tr.edit td input{ padding:2px 2px; transition:font-size ease 0.5s;width:95%;}
.zjtable tr.edit td select option{ background-color:#333; }
.zjtable tr.edit td.field{ padding:0; height:44px; line-height:44px; background-color:#333; color:#fff; vertical-align: middle; }
.zjtable tr.edit td>div{ width:100%; height:100%; overflow:hidden; }
.zjtable tr.tbData:hover:not(.edit){ background:rgba(70,99,127,1); }
.zjtable tr.tbData{ transition:transform ease 0.5s;transform:scaleY(1);transform-origin:50% 0; }
.zjtable tr.tbData.deleted {transform:scaleY(0);}
.zjtable tr.tbData td span{ display:inline-block; width:50px; height:10px; vertical-align: middle; border-radius:5px; }

